# Ejericio de DPLYR
***
- Autor: Juan Antonio García Cuevas
- Fecha: 02/07/2016
***

## * Cargamos las librerías dplyr y ggplot2:

In [67]:
library(dplyr)
library(ggplot2)

## * Inspeccionamos el dataset diamonds:

In [68]:
head(diamonds)

  carat       cut color clarity depth table price    x    y    z
1  0.23     Ideal     E     SI2  61.5    55   326 3.95 3.98 2.43
2  0.21   Premium     E     SI1  59.8    61   326 3.89 3.84 2.31
3  0.23      Good     E     VS1  56.9    65   327 4.05 4.07 2.31
4  0.29   Premium     I     VS2  62.4    58   334 4.20 4.23 2.63
5  0.31      Good     J     SI2  63.3    58   335 4.34 4.35 2.75
6  0.24 Very Good     J    VVS2  62.8    57   336 3.94 3.96 2.48

## * Filtramos los diamantes con corte “Ideal”:

In [69]:
diamondsWork <- filter(diamonds, cut == "Ideal")
head(diamondsWork)

  carat   cut color clarity depth table price    x    y    z
1  0.23 Ideal     E     SI2  61.5    55   326 3.95 3.98 2.43
2  0.23 Ideal     J     VS1  62.8    56   340 3.93 3.90 2.46
3  0.31 Ideal     J     SI2  62.2    54   344 4.35 4.37 2.71
4  0.30 Ideal     I     SI2  62.0    54   348 4.31 4.34 2.68
5  0.33 Ideal     I     SI2  61.8    55   403 4.49 4.51 2.78
6  0.33 Ideal     I     SI2  61.2    56   403 4.49 4.50 2.75

## * Seleccionamos las columnas carat, cut, color, price y clarity:

In [70]:
diamondsWork <- select(diamondsWork, carat, cut, color, price, clarity)
head(diamondsWork)

  carat   cut color price clarity
1  0.23 Ideal     E   326     SI2
2  0.23 Ideal     J   340     VS1
3  0.31 Ideal     J   344     SI2
4  0.30 Ideal     I   348     SI2
5  0.33 Ideal     I   403     SI2
6  0.33 Ideal     I   403     SI2

## * Creamos una nueva columna precio/quilate:

In [71]:
diamondsWork <- mutate(diamondsWork, caretprice = price/carat)
head(diamondsWork)

  carat   cut color price clarity caretprice
1  0.23 Ideal     E   326     SI2   1417.391
2  0.23 Ideal     J   340     VS1   1478.261
3  0.31 Ideal     J   344     SI2   1109.677
4  0.30 Ideal     I   348     SI2   1160.000
5  0.33 Ideal     I   403     SI2   1221.212
6  0.33 Ideal     I   403     SI2   1221.212

## * Agrupamos los diamantes por color:

In [72]:
diamondsWork <- group_by(diamondsWork, color)
head(diamondsWork)
summarise(diamondsWork, max(price))

Source: local data frame [6 x 6]
Groups: color [3]

  carat    cut  color price clarity caretprice
  (dbl) (fctr) (fctr) (int)  (fctr)      (dbl)
1  0.23  Ideal      E   326     SI2   1417.391
2  0.23  Ideal      J   340     VS1   1478.261
3  0.31  Ideal      J   344     SI2   1109.677
4  0.30  Ideal      I   348     SI2   1160.000
5  0.33  Ideal      I   403     SI2   1221.212
6  0.33  Ideal      I   403     SI2   1221.212

Source: local data frame [7 x 2]

   color max(price)
  (fctr)      (int)
1      D      18693
2      E      18729
3      F      18780
4      G      18806
5      H      18760
6      I      18779
7      J      18508

## * Calculamos la media del precio/quilate para cada uno de los grupos anteriores:

In [73]:
diamondsWork <- group_by(diamondsWork, color)
head(diamondsWork)
summarise(diamondsWork, max(caretprice))

Source: local data frame [6 x 6]
Groups: color [3]

  carat    cut  color price clarity caretprice
  (dbl) (fctr) (fctr) (int)  (fctr)      (dbl)
1  0.23  Ideal      E   326     SI2   1417.391
2  0.23  Ideal      J   340     VS1   1478.261
3  0.31  Ideal      J   344     SI2   1109.677
4  0.30  Ideal      I   348     SI2   1160.000
5  0.33  Ideal      I   403     SI2   1221.212
6  0.33  Ideal      I   403     SI2   1221.212

Source: local data frame [7 x 2]

   color max(caretprice)
  (fctr)           (dbl)
1      D       17077.670
2      E       14609.375
3      F       13860.902
4      G       12454.305
5      H       10187.500
6      I        9116.019
7      J        8647.115

## * Ordenamos por precio/quilate de forma descendente:

In [74]:
diamondsWork <- diamondsWork %>% group_by(color) %>% summarise(med = mean(caretprice)) %>% arrange(desc(med))
diamondsWork

Source: local data frame [7 x 2]

   color      med
  (fctr)    (dbl)
1      G 4163.999
2      F 4097.519
3      H 3846.066
4      I 3808.071
5      D 3806.532
6      J 3733.766
7      E 3683.172